RINGCENTRAL_SERVER=https://platform.devtest.ringcentral.com
RINGCENTRAL_CHATBOT_DATABASE_CONNECTION_URI=sqlite://./db.sqlite

## ringcentral web-based app for rc user auth
RINGCENTRAL_CLIENT_ID=
RINGCENTRAL_CLIENT_SECRET=
## for local server will be like https://xxxx.ap.ngrok.io
RINGCENTRAL_CHATBOT_SERVER=

## Server
SERVER_PORT=4100
SERVER_HOST=localhost
SERVER_SECRET=123ds223ds23
